<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hello Worlrd!</title>
  </head>
  <body>
    <h1>How are you</h1>
    <div class="remark">
      <p>Pug works</p>
    </div>
    <ol class="groceries" id="shopping">
      <li>Mango</li>
      <li>Orange</li>
      <li>Grapes</li>
      <li>Jackfruit</li>
    </ol>
    <div class="connect">
      <p><a href="www.google.com">Google</a></p>
      <img src="" alt="" id="consume" class="cars"/>
      </div>

      <div>
      <form action="post" name="sign-up">
        <label for="email">Email</label>
        <input type="text" name="email" id="email" />

        <label for="username"> Username</label>
        <input type="text" name="username" id="username" />

        <label for="password">Password</label>
        <input type="password" name="password" id="password" />
      
      </form>
    </div>
     
    <p>
        name
        <br>
        address  
       </p>
  </body>
</html>
